{% extends 'cockteil/base.html' %}
 
{% block content %}
<div class="container" style="margin-top:0px">
	<div class="row pt-4" style="margin-top:0px">
<h1>{{title}}</h1>
<h6>Choose a cocktail by name or by main ingredient.</h6> 
<small class="text-muted pt-0"> You can choose only the ingredients that you have in you storage</small>

</div>
	<div class="row pt-4">
		<div class="col">
			<form action="{% url 'search_cocktail_path' %}" method="post" class="form-floating row g-6 pb-4">
				{% csrf_token %}
				{{ form.f_n.as_p }}
				<div class="span2">
					<button class="btn btn-primary g-2" type="submit"  value="1" name="search_n"> Search</button>
					<button class="btn btn-primary g-2" type="submit" value="2" name="clear_n"> Clear</button>
				</div>
			</form>
		</div>
		<div class="col">
			<form action="{% url 'search_cocktail_path' %}" method="post" class="form-floating row g-6 pb-4 ">
				{% csrf_token %}
				{{ form.f_i.as_p }}
				<div class="span2">
					<button class="btn btn-primary g-2" type="submit"  value="3" name="search_i"> Search</button>
					<button class="btn btn-primary g-2" type="submit" value="4" name="clear_i"> Clear</button>
				</div>
				</form>
		</div>
  </div>

	<div class="row">
		{% for p in search_list.drinks %}
				<div class="col-12 col-sm-6 col-lg-3 col-lg-2">
					<div class="card mb-4">
						<img src="{{p.strDrinkThumb}}" class="card-img-top" alt="No image">
						<div class="card-body">
							<h6 class="card-text ">{{p.strDrink}}</h6>
							<div class="row">
								<div class="col-6"> <a style="font-size: 10px;" href="{% url 'cocktail_path' p.idDrink %}" class="btn btn-primary">View details</a> </div>
								<div class="col-6">
									<form action="{% url 'search_cocktail_path' %}" method="post" class="form-floating ">
										{% csrf_token %}
 											<button style="font-size: 10px;" class="btn btn-primary" type="submit"  value="{{p.idDrink}}" name="add_to_base"> Add to favorites</button>
											 <input type="hidden" name="cocktail_part_name" value="{{ transit.cocktail_part_name }}">
											 <input type="hidden" name="ingradient" value="{{ transit.ingradient }}">
									 </form>
								</div>
							</div>
						</div>
					</div>
				</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
